<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="File" fileName="D:/Automation/Playwrigth/foodi-mobile-app/logs/appium_4723.log"
                     filePattern="D:/Automation/Playwrigth/foodi-mobile-app/logs/appium_%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>
